# Node.js and React specific
node_modules/
build/
public/build/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General
.DS_Store
Thumbs.db

# Logs and temp files
logs
*.log
tmp
temp

# IDE and OS files
.idea/
.vscode/
*.swp
*.swo